# Classification of Organisms
Using a Digital Dichotomous Key


### Step 1 - Creating a Checkpoint
>Create a checkpoint by clicking <b>File</b> ==> <b>Save and Checkpoint</b>. If you make a major mistake, you can click <u>File</u> ==> <u>Revert to Checkpoint</u> to reset the Jupyter Notebook online on Binder.org.

### Importing the Data

>The next 2 blocks of code imports the data that we will need to examine the caracteristics of many different organisms. You can begin to execute the cells using <b> Shift + Enter </b> to import the data set and continue.

In [14]:
# Import modules that contain functions we need
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [15]:
# Our data is the dichotomous key table and is defined as the word 'key'.
# key is set equal to the .csv file that is read by pandas.
# The .csv file must be in the same directory as the program.

#If the data is being pulled locally use the code that is commented out below
#key = pd.read_csv("Classification of Organisms- Jupyter Data.csv")
#key2 = pd.read_csv("Classification of Organisms- Jupyter Data KEY 2.csv")

key = pd.read_csv("https://gist.githubusercontent.com/GoodmanSciences/f4d51945a169ef3125234c57b878e058/raw/bebeaae8038f0b418ed37c2a98b82aa9d3cc38d1/Classification%2520of%2520Organisms-Jupyter%2520Data.csv")

key2 = pd.read_csv("https://gist.githubusercontent.com/GoodmanSciences/4060d993635e90cdcc46fe637c92ee37/raw/d9031747855b9762b239dea07a60254eaa6051f7/Classification%2520of%2520Organisms-%2520Jupyter%2520Data%2520KEY%25202.csv")

# This sets Organism as the index instead of numbers
#key = data.set_index("organism")

## Pre-Questions
>Using the information and video below and what you've learned in this unit, answer questions 1 & 2 in your coding booklet.

>####Why we use shared characteristics
Based on their characterists, scienctists can narrow down species into domains (the broadest level of organization) all the way down to a specfic organims genus and speices (the narrowest level of classification). Scientists use an organisms genus and speieces. The genus and speices are used to make a special name for each organism called their scientific name or more formally referred to as binomial nomencalture. 
<b><span style="color:green">You can find out more about the Levels of Classification by watching this video.</span></b> [Classification Video](https://edpuzzle.com/media/5aee20966b8cf740e3619805)

In [16]:
# Here is a helpful image of a sample Dichotomous Key!
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= 'https://github.com/garrettsutula/OCPS-grade-6/blob/develop/Images/classifcation%20levels.png')

## PART 1: Sorting Organisms by One Characteristic

>We will be looking at the characterists of 75 unique organisms in our Dichotomous Key.  The imput below will provide us with a some of the possible organisms you may discover and the different Organism Characteristics/Conditions in our data set.

In [17]:
# Animal options in Dichotomous Key
# Displays all row titles as an array
key.organism

0             badger
1                bat
2               bear
3             beaver
4                bee
5        black widow
6             bobcat
7          butterfly
8                cat
9            chicken
10        chimpanzee
11          chipmunk
12         clownfish
13               cow
14         crocodile
15         death cap
16              deer
17               dog
18           dolphin
19         dragonfly
20              duck
21             eagle
22          flamingo
23              flea
24               fly
25               fox
26           giraffe
27             goose
28           hamster
29      hippopotamus
           ...
45               pig
46         pine tree
47        poison ivy
48         porcupine
49            rabbit
50           raccoon
51       rattlesnake
52         red panda
53        rhinoceros
54        salamander
55          scorpion
56              seal
57             shark
58             skunk
59             sloth
60             snail
61          squirrel
62         tree frog
63             tucan
64            turkey
65            turtle
66           vulture
67              wasp
68            weasel
69             whale
70    white mushroom
71              wolf
72        woodpecker
73              worm
74             yeast
Name: organism, Length: 75, dtype: object

In [18]:
# Conditions/Questions for finding the correct animal
# Displays all column titles as an array
key.columns

Index(['organism', 'eukaryotic', 'prokaryotic', 'kingdom', 'phylum', 'class',
       'order', 'vertebrate', 'fur', 'feathers', 'scales', 'wings', 'fins',
       'marine', 'terrestrial', 'carnivore', 'herbivore', 'omnivore',
       'decomposer', 'photosynthesis', 'autotroph', 'multicellular',
       'poisonous'],
      dtype='object')

>Use and modify the section of code below to answer questions 3-5 in your coding booklet.

In [19]:
key[(key['fur'] == 'yes')]

,organism,eukaryotic,prokaryotic,kingdom,phylum,class,order,vertebrate,fur,feathers,...,marine,terrestrial,carnivore,herbivore,omnivore,decomposer,photosynthesis,autotroph,multicellular,poisonous
0,badger,yes,no,animalia,chordata,mammalia,carnivora,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
1,bat,yes,no,animalia,chordata,mammalia,chiroptera,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
2,bear,yes,no,animalia,chordata,mammalia,ursidae,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
3,beaver,yes,no,animalia,chordata,mammalia,rodentia,yes,yes,no,...,no,yes,no,yes,no,no,no,no,yes,no
6,bobcat,yes,no,animalia,chordata,mammalia,carnivora,yes,yes,no,...,no,yes,yes,no,no,no,no,no,yes,no
8,cat,yes,no,animalia,chordata,mammalia,carnivora,yes,yes,no,...,no,yes,yes,no,no,no,no,no,yes,no
10,chimpanzee,yes,no,animalia,chordata,mammalia,primates,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
11,chipmunk,yes,no,animalia,chordata,mammalia,rodentia,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
13,cow,yes,no,animalia,chordata,mammalia,artiodactyla,yes,yes,no,...,no,yes,no,yes,no,no,no,no,yes,no
16,deer,yes,no,animalia,chordata,mammalia,artiodactyla,yes,yes,no,...,no,yes,no,yes,no,no,no,no,yes,no
17,dog,yes,no,animalia,chordata,mammalia,carnivora,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
25,fox,yes,no,animalia,chordata,mammalia,carnivora,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
26,giraffe,yes,no,animalia,chordata,mammalia,artiodactyla,yes,yes,no,...,no,yes,no,yes,no,no,no,no,yes,no
28,hamster,yes,no,animalia,chordata,mammalia,rodentia,yes,yes,no,...,no,yes,no,yes,no,no,no,no,yes,no
30,kangaroo,yes,no,animalia,chordata,mammalia,diprotodontia,yes,yes,no,...,no,yes,no,yes,no,no,no,no,yes,no
31,lemur,yes,no,animalia,chordata,mammalia,primates,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
37,mouse,yes,no,animalia,chordata,mammalia,rodentia,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
39,opossum,yes,no,animalia,chordata,mammalia,didelphimorphia,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
40,otter,yes,no,animalia,chordata,mammalia,carnivora,yes,yes,no,...,yes,no,no,no,yes,no,no,no,yes,no
43,panda,yes,no,animalia,chordata,mammalia,carnivora,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
45,pig,yes,no,animalia,chordata,mammalia,artiodactyla,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
49,rabbit,yes,no,animalia,chordata,mammalia,lagomorpha,yes,yes,no,...,no,yes,no,yes,no,no,no,no,yes,no
50,raccoon,yes,no,animalia,chordata,mammalia,carnivora,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
52,red panda,yes,no,animalia,chordata,mammalia,carnivora,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
58,skunk,yes,no,animalia,chordata,mammalia,carnivora,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
59,sloth,yes,no,animalia,chordata,mammalia,pilosa,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
61,squirrel,yes,no,animalia,chordata,mammalia,rodentia,yes,yes,no,...,no,yes,no,no,yes,no,no,no,yes,no
71,wolf,yes,no,animalia,chordata,mammalia,carnivora,yes,yes,no,...,no,yes,yes,no,no,no,no,no,yes,no

## PART 2: Sorting Organisms by Many Characteristics

>These are the conditions or the characteristics in which ceratin answers are categorized for certain organisms. Each characteristic/condition has a yes/no except for the Kingdoms. Change the conditionals in the code below to change what organism(s) are displayed. For most, the only change needs to be the 'yes' or 'no'.

#### <span style="color:red">Capitalization matters so be careful. You also must put in only allowed answers in every condition or the code will break!</span>

>Use and modify the section of code below to answer questions 6-8 in your coding booklet.

In [20]:
# This conditional allows us to query a column and if the data within that cell matches it will display the animal(s).
#if you are unsure of what to put try making that column a comment by adding # in front of it.

key[
#physical characteristics
    (key['fur'] == 'yes') & \
    (key['feathers'] == 'no') & \
    (key['poisonous'] == 'no') & \
    (key['scales'] == 'no') & \
    (key['multicellular'] == 'yes') & \
    (key['fins'] == 'no') & \
    (key['wings'] == 'no') & \
    (key['vertebrate'] == 'yes') & \
    
#environmental characteristics
    (key['marine'] == 'no') & \
    (key['terrestrial'] == 'yes') & \
    
#feeding characteristics
    
    #decomposers get their food by breaking down decaying organisms
    (key['decomposer'] == 'no') & \
    
    #carnivores get their food by eating animals
    (key['carnivore'] == 'no') & \
    
    #herbivores get their food by eating plants
    (key['herbivore'] == 'yes') & \
    
    #omnivores get their food by eating both plants and anim
    als
    (key['omnivore'] == 'no') & \
    
    #photosynthesis is the process of making food using energy from sunlight
    (key['photosynthesis'] == 'no') & \
    
    #autotrophs are organisms that generate their own food inside themselves
    (key['autotroph'] == 'no') & \
    
#possible kingdoms include: animalia, plantae, fungi
    (key['kingdom'] == 'animalia') & \
   
#cell type     
    (key['eukaryotic'] == 'yes') & \
    (key['prokaryotic'] == 'no')
    ]

NameError: name 'als' is not defined

## Part 3 & 4: Scientific Classification of Organisms & Unstructured Coding

>Use and modify the section of code below to answer questions 9-13 in your coding booklet.

In [21]:
#sort your organisms by their taxonomical classification

# This conditional allows us to query a column and if the data within that cell matches,
# it will display the corresponding animal(s)
key2[(key2['kingdom'] == 'animalia')]

        organism   kingdom      phylum           class                order
0         badger  animalia    chordata        mammalia            carnivora
1            bat  animalia    chordata        mammalia           chiroptera
2           bear  animalia    chordata        mammalia              ursidae
3         beaver  animalia    chordata        mammalia             rodentia
4            bee  animalia  arthropoda         insecta          hymenoptera
5    black widow  animalia  arthropoda        arachnid              araneae
6         bobcat  animalia    chordata        mammalia            carnivora
7      butterfly  animalia  arthropoda         insecta          lepidoptera
8            cat  animalia    chordata        mammalia            carnivora
9        chicken  animalia    chordata            aves          galliformes
10    chimpanzee  animalia    chordata        mammalia             primates
11      chipmunk  animalia    chordata        mammalia             rodentia
12     clownfish  animalia    chordata  actinopterygii          perciformes
13           cow  animalia    chordata        mammalia         artiodactyla
14     crocodile  animalia    chordata        reptilia           crocodilia
16          deer  animalia    chordata        mammalia         artiodactyla
17           dog  animalia    chordata        mammalia            carnivora
18       dolphin  animalia    chordata        mammalia              cetacea
19     dragonfly  animalia  arthropoda         insecta              odonata
20          duck  animalia    chordata            aves         anseriformes
21         eagle  animalia    chordata            aves        falconiformes
22      flamingo  animalia    chordata            aves  phoenicopteriformes
23          flea  animalia  arthropoda         insecta         siphonaptera
24           fly  animalia  arthropoda         insecta              diptera
25           fox  animalia    chordata        mammalia            carnivora
26       giraffe  animalia    chordata        mammalia         artiodactyla
27         goose  animalia    chordata            aves         anseriformes
28       hamster  animalia    chordata        mammalia             rodentia
29  hippopotamus  animalia    chordata        mammalia         artiodactyla
30      kangaroo  animalia    chordata        mammalia        diprotodontia
..           ...       ...         ...             ...                  ...
40         otter  animalia    chordata        mammalia            carnivora
41           owl  animalia    chordata            aves         strigiformes
43         panda  animalia    chordata        mammalia            carnivora
44       penguin  animalia    chordata            aves      sphenisciformes
45           pig  animalia    chordata        mammalia         artiodactyla
48     porcupine  animalia    chordata        mammalia             rodentia
49        rabbit  animalia    chordata        mammalia           lagomorpha
50       raccoon  animalia    chordata        mammalia            carnivora
51   rattlesnake  animalia    chordata        reptilia             squamata
52     red panda  animalia    chordata        mammalia            carnivora
53    rhinoceros  animalia    chordata        mammalia       perissodactyla
54    salamander  animalia    chordata        amphibia              urodela
55      scorpion  animalia  arthropoda       arachnida           scorpiones
56          seal  animalia    chordata        mammalia            carnivora
57         shark  animalia    chordata  chondrichthyes          lamniformes
58         skunk  animalia    chordata        mammalia            carnivora
59         sloth  animalia    chordata        mammalia               pilosa
60         snail  animalia    mullusca      gastropoda            pulmonata
61      squirrel  animalia    chordata        mammalia             rodentia
62     tree frog  animalia    chordata        amphibia                anura
63         tucan  animalia    chordata            aves           piciformes
64        turkey  animalia    chordata            aves          galliformes
65        turtle  animalia    chordata        reptilia           testudines
66       vulture  animalia    chordata            aves      accipitriformes
67          wasp  animalia  arthropoda         insecta          hymenoptera
68        weasel  animalia    chordata        mammalia            carnivora
69         whale  animalia    chordata        mammalia      cetartiodactyla
71          wolf  animalia    chordata        mammalia            carnivora
72    woodpecker  animalia    chordata            aves           piciformes
73          worm  animalia    annelida     oligochaeta         megadrilacea

[66 rows x 5 columns]

In [22]:
#Done?? Insert a image for one of the organisms you found using the dichotomous key.
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= 'https://lms.mrc.ac.uk/wp-content/uploads/insert-pretty-picture-here1.jpg')